:root {
    --cornerRadius: 10px;

    --backgroundColor:#222831;
    --contentColor: #393E46;
    --accentColor: #00ADB5;
    --selectionColor: #cceff0;
    --textColor: #EEEEEE;
    --sidebarWidth: max(10%, 200px);
    --contentWidth: max(50%, 400px);
}

html, body {
    /*Make Website fullsize*/
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    /*Center all content*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /*Looks*/
    background-color: var(--backgroundColor);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--textColor);
}

#question {
    background-color:  var(--accentColor);
    border-radius: 5px;
    padding: 10px;
    color: black;
}

/* Creating Button Grid*/
#buttonContainer {
    display: grid;
    width: 100%;
    grid-template-areas: 
        "areaA areaB"
        "areaC areaD";
    row-gap: 5px;
    column-gap: 5px;
}

#buttonA { grid-area: areaA; }
#buttonB { grid-area: areaB; }
#buttonC { grid-area: areaC; }
#buttonD { grid-area: areaD; }

button {
    width: auto;
    text-align: center;
    margin: 0;
    padding: 5px;

    border: none;
    border-radius: 5px;
    background-color: var(--accentColor);
}

/* GameShow Element*/
.content {
	margin: auto auto auto auto;
	position: relative; 
	top: 50%; 
	transform: translateY(-50%);
    width: var(--contentWidth);
    background-color: var(--contentColor);
    border-radius: var(--cornerRadius);
    padding: 20px; 
}

.sidebar {
	float: left;
    width: var(--sidebarWidth);
    height: 100%;
    background-color: var(--contentColor);
	left: 0;
}

.window {
	float: right;
    width: calc(100% - var(--sidebarWidth));
    height: 100%;
	left: var(--sidebarWidth);
}

.container {
	width: 100%;
	height: 100%;
}

.selected {
    background-color: var(--selectionColor);
}

.correct {
    background-color: #00FF00;
}

.incorrect {
    background-color: #FF0000;
}

